In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import tensorflow as tf

In [3]:
path = 'shakespeare.txt'

In [7]:
txt = open(path, 'r').read()

In [9]:
len(txt)

5445609

In [10]:
type(txt)

str

In [14]:
print(txt[10000:10300])

 sullied night,
    And all in war with Time for love of you,
    As he takes from you, I engraft you new.


                     16
  But wherefore do not you a mightier way
  Make war upon this bloody tyrant Time?
  And fortify your self in your decay
  With means more blessed than my barren rhy

In [18]:
len(set(txt))

84

In [23]:
#sorted(set(txt))

In [27]:
characters = sorted(set(txt))

In [30]:
char_to_index = {char:ind for ind, char in enumerate(characters)}

In [36]:
char_to_index['s']

74

In [42]:
index_to_char = np.array(characters)

In [45]:
index_to_char[70]

'o'

In [46]:
t = ' i am student'

In [47]:
[i for i in t]

[' ', 'i', ' ', 'a', 'm', ' ', 's', 't', 'u', 'd', 'e', 'n', 't']

### now coverting all txt into the numeric

In [49]:

coded_text = np.array([char_to_index[c] for c in txt])

In [51]:
len(coded_text)

5445609

## Creating batches

In [54]:
# lets consider 120 sequence length 

seq_len = 120
total_num_seq = len(txt)// (seq_len+1)

In [55]:
total_num_seq

45005

In [56]:
char_dataset = tf.data.Dataset.from_tensor_slices(coded_text)

In [57]:
char_dataset.take(10)

In [59]:
sequence = char_dataset.batch(seq_len+1, drop_remainder = True)

In [60]:
def create_seq_target(seq):
    input_txt = seq[:-1]
    target_txt = seq[1:]
    return input_txt,target_txt

In [61]:
dataset = sequence.map(create_seq_target)

In [62]:
for input_txt,target_txt in dataset.take(1):
    print(input_txt.numpy())
    print(''.join(ind_to_char[input_txt.numpy()]))
    print('\n')
    print(target_txt.numpy())
    print(''.join(ind_to_char[input_txt.numpy()]))

[ 0  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 12  0
  1  1 31 73 70 68  1 61 56 64 73 60 74 75  1 58 73 60 56 75 76 73 60 74
  1 78 60  1 59 60 74 64 73 60  1 64 69 58 73 60 56 74 60  8  0  1  1 45
 63 56 75  1 75 63 60 73 60 57 80  1 57 60 56 76 75 80  5 74  1 73 70 74
 60  1 68 64 62 63 75  1 69 60 77 60 73  1 59 64 60  8  0  1  1 27 76 75]

                     1
  From fairest creatures we desire increase,
  That thereby beauty's rose might never die,
  But


[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 12  0  1
  1 31 73 70 68  1 61 56 64 73 60 74 75  1 58 73 60 56 75 76 73 60 74  1
 78 60  1 59 60 74 64 73 60  1 64 69 58 73 60 56 74 60  8  0  1  1 45 63
 56 75  1 75 63 60 73 60 57 80  1 57 60 56 76 75 80  5 74  1 73 70 74 60
  1 68 64 62 63 75  1 69 60 77 60 73  1 59 64 60  8  0  1  1 27 76 75  1]

                     1
  From fairest creatures we desire increase,
  That thereby beauty's rose might never die,
  But

In [69]:
sequence.

SyntaxError: invalid syntax (<ipython-input-69-0582fa0e1f4a>, line 1)

In [ ]:
pd.